
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
@import url("https://fonts.googleapis.com/css?family=Metal+Mania");

@font-face {
    font-family: "Booter - Zero Zero";
    src: url("../Fonts/Booter - Zero Zero.woff") format("woff"),
         url("../Fonts/Booter - Zero Zero.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
/**********************************************************************************************************************
 ****                            General settings (preferences for general classes)                                ****
 **********************************************************************************************************************/
.menuClass a{
    text-decoration: none;
}
.menuClass li{
    list-style: none;
}
.menuClass{
    padding-inline-start: 0px;
    display: flex;
}

/**********************************************************************************************************************
 ****                                           Header                                                             ****
 **********************************************************************************************************************/
 header{
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    border: 2px double black;
    }

.headerText{
        align-self: center;
    }

/**********************************************************************************************************************
 ****                                       user menu                                                              ****
 **********************************************************************************************************************/
 .logInMenu{
    align-self: flex-end;
    background-color: pink;
    font-size: 16px;
}
.logInMenu li{
    
}

.logInMenu a{
    display: block;
padding: 5px;
}

 /**********************************************************************************************************************
 ****                                       nav menu                                                                ****
 **********************************************************************************************************************/
 
 header .mainNav{
    align-self: center;
    border: 2px solid white;
}

header .mainNav a{
    display: block;
    color: hotpink;
    font-family: cursive;
    font-size: 20px;
    background: black;
    padding: 10px 20px;
    

}

header .mainNav li{
    border-left: 2px solid gray;
}
header .mainNav li:first-child{
    border-left: none;
}
/**********************************************************************************************************************
 ****                                       main Page                                                              ****
 **********************************************************************************************************************/
.eventViewer{
    width: 1024px;
    display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: auto;
    justify-items: center;
	margin: auto;
	background: grey;
}
.shopHeader{
	background-color: purple;
	color: white;
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-family: "Metal Mania";
	font-size: 48px;
}
.eventImg{
	height: auto;
	width: auto;
	object-fit: contain;
	grid-column-start:1;
	grid-column-end:2;
	grid-row-start:2;
	grid-row-end:5;	
	padding: 10px;
}
.eventName{
	grid-column-start:1;
	grid-column-end: 4;
}
.eventTime{
	grid-column-start:5;
	grid-column-end: 7;
}
.eventDesc{
	grid-column-start: 2;
	grid-column-end: 6;
	grid-row-start: 2;
	grid-row-end: 5;
}
.eventPriceLabel{
	grid-column-start: 6;
	grid-column-end: 7;
	grid-row-start: 2;
	width: 100%;
	background-color: pink;
	text-align: center;
}
.eventMaxTicketsLabel{
	grid-column-start: 6;
	grid-column-end: 7;
	grid-row-start: 3;
}
.eventCurrentTicketsLabel{
	grid-column-start: 6;
	grid-column-end: 7;
	grid-row-start: 4;
}
.eventPrice{
	grid-column-start: 7;
	grid-row-start: 2;
}
.eventMaxTickets{
	grid-column-start: 7;
	grid-row-start: 3;
}
.eventCurrentTickets{
	grid-column-start: 7;
	grid-row-start: 4;
}
.BuyBtn{
	grid-column-start: 7;
	grid-row-start: 5;
	padding: 10px;
	margin: 10px;
}
 /**********************************************************************************************************************
 ****                                       shopping cart                                                           ****
 **********************************************************************************************************************/

.shoppingCartHeader{
    width: 500px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    margin: auto;
}
.selectedItemWrap {
    width: 500px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    background-color: pink;
    margin: auto;

}

.ticketImg{
    width: 75px;
    height: 75px;
    object-fit: cover;
    
    
}

.ticketName{

}
.ticketPrice{

}
.ticketAmount{

}